* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: grey;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

.resume {
  min-height: 1000px;
  width: 900px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .5);
  /* border-radius: 10px; */
  background-color: white;
}

.resume-header {
  flex-direction: column;
  min-height: max-content;
  background-color: #010ab9;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  padding: 2rem;
  color: whitesmoke;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1500px) {
  .root-sub {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}